$primary: #ffa45b;
$primary-invert: #121212;
$primary-dark: findDarkColor($primary);
$primary-invert-dark: #fefefe;
$secondary: #121212;
$secondary-invert: findColorInvert($secondary);
$accent: #ffb400;
$accent-hover: #eca701;
$dark-bg-color: $secondary;
$light: #fefefe;
$dark: #121212;
$dark-invert: findColorInvert($dark);
$light-gray: #a2a1a1;
$off-white: #eeeeee;

$black:	#121212;
$black-bis: #1a1a1a;
$black-ter:	#262626;
$grey-darker: #4d4d4d;
$grey-dark:	#8c8c8c;
$grey: #999999;
$grey-light: #a6a6a6;
$grey-lighter: #cccccc;
$grey-lightest:	#d9d9d9;
$white-ter:	#e6e6e6;
$white-bis:	#f2f2f2;
$white: #fefefe;