$primary: #ffa45b;
$primary-invert: #121212;
$primary-dark: findDarkColor($primary);
$primary-invert-dark: #fefefe;

$secondary: #121212;
$secondary-invert: findColorInvert($secondary);

$accent: #ffb400;
$accent-hover: #eca701;

$dark-bg-color: $secondary;
$light: #121212;
$dark: #fefefe;
$dark-invert: findColorInvert($dark);
$off-white: #eeeeee;

$black:	#fefefe;
$black-bis: #f2f2f2;
// change this
$black-ter:	#e6e6e6;
$grey-darker: #d9d9d9;
$grey-dark:	#a6a6a6;
$grey: #999999;
$grey-light: #8c8c8c;
$grey-lightest:	#4d4d4d;
$white-ter:	#262626;
$white-bis:	#1a1a1a;
$white: #121212;