@import '~bulma/sass/utilities/_all';
@import './color-palette-light.scss';

$colors: (
  'light': (
    $light,
    $light-invert
  ),
  'dark': (
    $dark,
    $dark-invert
  ),
  'grey': (
    $grey,
    $grey-lightest
  ),
  'primary': (
    $primary,
    $primary-invert
  ),
  'primary-dark': (
    $primary-dark,
    $primary-invert-dark
  ),
  'info': (
    $info,
    $info-invert
  ),
  'success': (
    $success,
    $success-invert
  ),
  'warning': (
    $warning,
    $warning-invert
  ),
  'danger': (
    $danger,
    $danger-invert
  )
);

$shades: (
  'black': $black-bis,
  'black-ter': $black-ter,
  'grey-darker': $grey-darker,
  'grey-dark': $grey-dark,
  "grey": $grey, 
  'grey-light': $grey-light,
  'grey-lighter': $grey-lighter,
  'white-ter': $white-ter,
  'white-bis': $white-bis,
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma styles
@import '~bulma';
